<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iqb.etep.workflow.monitor.dao.IqbWfProcMonitorBeanMapper">
	<select id="getUserToDoTasks" resultType="com.iqb.etep.workflow.monitor.bean.IqbWfProcBackBean">
		SELECT
			proc.PROC_ID procId, <!-- 流程定义ID -->
			proc.PROC_KEY procKey, <!-- 流程定义代码 -->
			proc.PROC_NAME procName,  <!-- 流程定义名称 -->
			proc.PROC_INST_ID procInstId, <!-- 流程实例ID -->
			proc.PROC_BIZID procBizid, <!--业务ID -->
			proc.PROC_BIZTYPE procBiztype, <!-- 业务类型-->
			proc.PROC_ORGCODE procOrgcode, <!--业务所属机构代码 -->
			proc.PROC_MEMO procMemo,  <!-- 流程摘要 -->
			task.PROC_TASK_STATUS procTaskStatus, <!-- 流程任务状态码 -->
			CASE
				WHEN task.PROC_TASK_STATUS = '1' THEN
					'待签收'
				WHEN task.PROC_TASK_STATUS = '2' THEN
					'待处理'
				WHEN task.PROC_TASK_STATUS = '3' THEN
					'已处理'
				WHEN task.PROC_TASK_STATUS = '4' THEN
					'已终止'
				ELSE
					'未知'
				END procTaskStatusName,  <!-- 流程任务状态名称-->
			task.ID id,  <!-- 流程任务记录ID -->
			task.PROC_CTASKID procCtaskId,  <!-- 流程任务ID -->
			task.PROC_CTASKCODE procCtaskcode,  <!-- 流程任务代码 -->
			task.PROC_CTASKNAME procCtaskname, <!-- 流程任务名称 -->
			task.PROC_TASK_COMMITTER procTaskCommitter,  <!-- 流程任务提交人 -->
			task.PROC_APPROVEURL procApproveurl, <!-- 流程审批地址 -->
			IF (
				task.PROC_TASK_STATUS = '1',
				task.PROC_TASK_GROUP,
				task.PROC_TASK_ASSIGNEE
			) procTaskAssignee,  <!-- 流程任务处理人 -->
			task.PROC_LICENSOR procLicensor,  <!-- 流程任务委托人 -->
			FROM_UNIXTIME(task.PROC_TASK_COMMITTIME, '%Y/%m/%d %H:%i:%s') procTaskCommittime, <!-- 流程提交时间-->
			FROM_UNIXTIME(task.PROC_TASK_ASSIGNTIME, '%Y/%m/%d %H:%i:%s') procTaskAssigntime, <!-- 流程签收时间-->
			task.PROC_REFUSETASK procRefusetask <!-- 是否拒绝任务-->
		FROM IQB_WF_PROC proc
		JOIN IQB_WF_PROC_TASK task 
			ON proc.PROC_INST_ID = task.PROC_INST_ID
		LEFT JOIN IQB_WF_PROC_DELEGATE delegate 
			ON	delegate.PROC_INST_ID =	proc.PROC_INST_ID
		 	AND delegate.PROC_MANDATARY = #{procTaskUser}
			AND	delegate.PROC_LICENSE_ISVALID =	'1' <!-- 委托表中有效委托且委托处理人为当前登录用户 -->
		WHERE
			proc.PROC_STATUS = '0' <!-- 只查询审批中的流程 -->
			AND task.PROC_TASK_STATUS IN ('1', '2')  <!-- 只查询待签收和待处理的流程任务 -->
			AND (
			(
				task.PROC_TASK_STATUS = '1' AND (
			<if test="procTaskRoles != '' and procTaskRoles != null">
				task.PROC_TASK_GROUP in
				<foreach item="item" index="index" collection="procTaskRoles" open="("
					separator="," close=")">
					#{item}
				</foreach>
				OR
			</if>
				delegate.PROC_MANDATARY=#{procTaskUser} and	task.PROC_TASK_GROUP=delegate.PROC_LICENSOR_ROLE )
				<!-- 待签收的任务，任务候选角色在当前用户所属的角色中，或者当前用户为委托处理人 -->
			)
			OR (
				task.PROC_TASK_STATUS = '2' AND task.PROC_TASK_ASSIGNEE = #{procTaskUser} 
				<!-- 待处理的任务，处理人为当前用户 -->
			)
			)
			AND (
				task.PROC_DATAPERMISSION = '0'
				OR task.PROC_DATAPERMISSION = '1' AND proc.PROC_ORGCODE = #{procOrgCode}
				OR task.PROC_DATAPERMISSION = '2'	AND SUBSTR(proc.PROC_ORGCODE, 1, LENGTH(#{procOrgCode}))=#{procOrgCode} and	LENGTH(proc.PROC_ORGCODE) > LENGTH(#{procOrgCode})
				OR task.PROC_DATAPERMISSION = '3'	AND SUBSTR(proc.PROC_ORGCODE, 1, LENGTH(#{procOrgCode}))=#{procOrgCode}
				OR task.PROC_DATAPERMISSION = '9' AND task.PROC_APPOINT_USERS = #{procTaskUser})
			<if test="procName != '' and procName != null">
				and proc.PROC_NAME LIKE "%"#{procName}"%"
			</if>
			<if test="procCtaskname != '' and procCtaskname != null">
				and task.PROC_CTASKNAME LIKE "%"#{procCtaskname}"%"
			</if>
			<if test="procMemo != '' and procMemo != null">
				and proc.PROC_MEMO LIKE "%"#{procMemo}"%"
			</if>
			<if test="procTaskStatus != '' and procTaskStatus != null">
				and task.PROC_TASK_STATUS = #{procTaskStatus}
			</if>
			<if test="procBizid != '' and procBizid != null">
				and proc.PROC_BIZID LIKE "%"#{procBizid}"%"
			</if>
		ORDER BY task.PROC_TASK_COMMITTIME ASC
	</select>
	
	<!-- 已办任务 -->
	<select id="selectMyProcTasks" parameterType="java.util.Map"
		resultType="com.iqb.etep.workflow.monitor.bean.IqbWfMyProcBackBean">
		SELECT DISTINCT
		myproc.proc_inst_id procInstId,
		myproc.PROC_TASKID procTaskid,
		CASE myproc.PROC_USER_TYPE
			WHEN '1' THEN '流程创建者'
			WHEN '2' THEN '流程参与者'
			WHEN '3' THEN '流程订阅者'
			WHEN '4' THEN '流程委托人'
			WHEN '5' THEN '流程受托人'
			ELSE '未知'
			END AS procUserType,
		task.PROC_CTASKCODE procTaskcode,
		task.PROC_CTASKNAME procTaskname,
		proc.proc_bizid procBizId,
		proc.PROC_BIZTYPE procBiztype,
		proc.PROC_ORGCODE procOrgcode,
		proc.proc_name procName,
		FROM_UNIXTIME(proc.PROC_CREATETIME, '%Y/%m/%d %H:%i:%s') procCreatetime,
		FROM_UNIXTIME(proc.PROC_ENDTIME, '%Y/%m/%d %H:%i:%s') procEndtime,
		proc.PROC_MEMO procMemo,
		proc.PROC_STATUS procStatus,
		CASE proc.PROC_STATUS
			WHEN '0' THEN '审批中'
			WHEN '3' THEN '已暂停'
			WHEN '4' THEN '已终止'
			WHEN '5' THEN '已删除'
			WHEN '6' THEN '已完成'
			WHEN '7' THEN '已取消'
			ELSE '未知'
			END AS procStatusName,
		myproc.PROC_DISPLAYURL procDisplayurl,
		task.PROC_TASK_COMMITTER procTaskCommitter,
		IF (task.PROC_TASK_STATUS = '1', task.PROC_TASK_GROUP,
		task.PROC_TASK_ASSIGNEE) procTaskAssignee,
		task.PROC_LICENSOR procLicensor,
		FROM_UNIXTIME(task.PROC_TASK_COMMITTIME, '%Y/%m/%d %H:%i:%s') procTaskCommittime,
		FROM_UNIXTIME(task.PROC_TASK_ASSIGNTIME, '%Y/%m/%d %H:%i:%s') procTaskAssigntime,
		FROM_UNIXTIME(task.PROC_TASK_ENDTIME, '%Y/%m/%d %H:%i:%s') procTaskEndime,
		task.PROC_TASK_STATUS procTaskstatus
		FROM iqb_wf_my_proc myproc
		LEFT JOIN iqb_wf_proc proc ON myproc.proc_inst_id = proc.proc_inst_id
		LEFT JOIN iqb_wf_proc_task task ON task.proc_inst_id = myproc.proc_inst_id
		AND task.PROC_CTASKID = myproc.PROC_TASKID
		WHERE
		myproc.PROC_USER = #{procTaskUser,jdbcType=VARCHAR}
		<if test="procStatus != null and procStatus != ''">
			AND proc.PROC_STATUS = #{procStatus,jdbcType=VARCHAR}
		</if>
		<!-- 查询条件：创建时间-开始 -->
		<if test="procCreateTimeStart != null and procCreateTimeStart != ''">
			AND proc.PROC_CREATETIME &gt;= #{procCreateTimeStart}
		</if>
		<!-- 查询条件：创建时间-结束 -->
		<if test="procCreateTimeEnd != null and procCreateTimeEnd != ''">
			AND proc.PROC_CREATETIME &lt;= #{procCreateTimeEnd}
		</if>
		<!-- 查询条件：完成时间-开始 -->
		<if test="procFinishedTimeStart != null and procFinishedTimeStart != ''">
			AND proc.PROC_ENDTIME &gt;= #{procFinishedTimeStart}
		</if>
		<!-- 查询条件：完成时间-结束 -->
		<if test="procFinishedTimeEnd != null and procFinishedTimeEnd != ''">
			AND proc.PROC_ENDTIME &lt;= #{procFinishedTimeEnd}
		</if>
		<!-- 查询条件：业务ID -->
		<if test="procBizid != null and procBizid != ''">
			AND proc.proc_bizid LIKE CONCAT('%', #{procBizid},'%')
		</if>
		<!-- 查询条件：流程名称 -->
		<if test="procName != null and procName != ''">
			AND proc.PROC_NAME LIKE CONCAT('%', #{procName},'%')
		</if>
		<!-- 查询条件：流程摘要 -->
		<if test="procMemo != null and procMemo != ''">
			AND proc.PROC_MEMO LIKE CONCAT('%', #{procMemo},'%')
		</if>
		ORDER BY proc.PROC_CREATETIME DESC
	</select>

	<!-- 流程监控 -->
	<select id="selectActiveProcessList" resultType="com.iqb.etep.workflow.monitor.bean.IqbWfMyProcBackBean">
		SELECT
			proc.PROC_INST_ID procInstId,
			proc.PROC_NAME procName,
			proc.PROC_BIZID procBizId,
			proc.PROC_BIZTYPE procBiztype,
			proc.PROC_MEMO procMemo,
			proc.PROC_ORGCODE procOrgcode,
			task.PROC_CTASKID procTaskid,
			task.PROC_CTASKCODE procTaskcode,
			task.PROC_CTASKNAME procTaskname,
			proc.PROC_DISPLAYURL procDisplayurl,
			task.PROC_TASK_COMMITTER procTaskCommitter,
			IF (
				task.PROC_TASK_STATUS = '1',
				task.PROC_TASK_GROUP,
				task.PROC_TASK_ASSIGNEE
			) procTaskAssignee,
			task.PROC_LICENSOR procLicensor,
			FROM_UNIXTIME(
				proc.PROC_CREATETIME,
				'%Y/%m/%d %H:%i:%s'
			) procCreatetime,
			FROM_UNIXTIME(
			task.PROC_TASK_COMMITTIME,
			'%Y/%m/%d %H:%i:%s'
		) procTaskCommittime,
		 FROM_UNIXTIME(
			task.PROC_TASK_ASSIGNTIME,
			'%Y/%m/%d %H:%i:%s'
		) procTaskAssigntime,
			proc.PROC_STATUS procStatus,
			CASE proc.PROC_STATUS
				WHEN '0' THEN
					'审批中'
				WHEN '3' THEN
					'已暂停'
				ELSE
					'未知'
			END AS procStatusName
		FROM
			IQB_WF_PROC proc
		LEFT JOIN IQB_WF_PROC_TASK task ON (
			proc.PROC_INST_ID = task.PROC_INST_ID
			AND task.PROC_TASK_STATUS IN (1, 2)
		)
		WHERE
			proc.PROC_STATUS IN (0, 3)
			<if test="procStatus != null and procStatus != ''">
					AND proc.PROC_STATUS = #{procStatus,jdbcType=VARCHAR}
			</if>
			<!-- 查询条件：流程创建时间-开始 -->
			<if test="procCreateTimeStart != null and procCreateTimeStart != ''">
				AND proc.PROC_CREATETIME &gt;= #{procCreateTimeStart}
			</if>
			<!-- 查询条件：流程创建时间-结束 -->
			<if test="procCreateTimeEnd != null and procCreateTimeEnd != ''">
				AND proc.PROC_CREATETIME &lt;= #{procCreateTimeEnd}
			</if>
			<!-- 查询条件：任务到达时间-开始 -->
			<if test="procCommitTimeStart != null and procCommitTimeStart != ''">
				AND task.PROC_TASK_COMMITTIME &gt;= #{procCommitTimeStart}
			</if>
			<!-- 查询条件：r任务到达时间-结束 -->
			<if test="procCommitTimeEnd != null and procCommitTimeEnd != ''">
				AND task.PROC_TASK_COMMITTIME &lt;= #{procCommitTimeEnd}
			</if>
			<!-- 查询条件：业务ID -->
			<if test="procBizid != null and procBizid != ''">
				AND proc.proc_bizid LIKE CONCAT('%', #{procBizid},'%')
			</if>
			<!-- 查询条件：流程名称 -->
			<if test="procName != null and procName != ''">
				AND proc.PROC_NAME LIKE CONCAT('%', #{procName},'%')
			</if>
			<!-- 查询条件：流程摘要 -->
			<if test="procMemo != null and procMemo != ''">
				AND proc.PROC_MEMO LIKE CONCAT('%', #{procMemo},'%')
			</if>
		ORDER BY proc.PROC_CREATETIME ASC, task.PROC_TASK_COMMITTIME ASC
	</select>
	
	<!-- 按照机构代码查询未结束的流程任务 -->
	<select id="selectOrgProcessList" resultType="com.iqb.etep.workflow.monitor.bean.IqbWfMyProcBackBean">
		SELECT
			proc.PROC_INST_ID procInstId,
			proc.PROC_NAME procName,
			proc.PROC_BIZID procBizId,
			proc.PROC_BIZTYPE procBiztype,
			proc.PROC_MEMO procMemo,
			proc.PROC_ORGCODE procOrgcode,
			task.PROC_CTASKID procTaskid,
			task.PROC_CTASKCODE procTaskcode,
			task.PROC_CTASKNAME procTaskname,
			proc.PROC_DISPLAYURL procDisplayurl,
			task.PROC_TASK_COMMITTER procTaskCommitter,
			IF (
				task.PROC_TASK_STATUS = '1',
				task.PROC_TASK_GROUP,
				task.PROC_TASK_ASSIGNEE
			) procTaskAssignee,
			task.PROC_LICENSOR procLicensor,
			FROM_UNIXTIME(
				proc.PROC_CREATETIME,
				'%Y/%m/%d %H:%i:%s'
			) procCreatetime,
			FROM_UNIXTIME(
			task.PROC_TASK_COMMITTIME,
			'%Y/%m/%d %H:%i:%s'
		) procTaskCommittime,
		 FROM_UNIXTIME(
			task.PROC_TASK_ASSIGNTIME,
			'%Y/%m/%d %H:%i:%s'
		) procTaskAssigntime,
			proc.PROC_STATUS procStatus,
			CASE proc.PROC_STATUS
				WHEN '0' THEN
					'审批中'
				WHEN '3' THEN
					'已暂停'
				ELSE
					'未知'
			END AS procStatusName
		FROM
			IQB_WF_PROC proc
		LEFT JOIN IQB_WF_PROC_TASK task ON (
			proc.PROC_INST_ID = task.PROC_INST_ID
			AND task.PROC_TASK_STATUS IN (1, 2)
		)
		WHERE
			proc.PROC_STATUS IN (0, 3)
			and proc.PROC_ORGCODE LIKE CONCAT(#{procOrgCode},'%')
			<if test="procStatus != null and procStatus != ''">
				AND proc.PROC_STATUS = #{procStatus,jdbcType=VARCHAR}
			</if>
			<!-- 查询条件：流程创建时间-开始 -->
			<if test="procCreateTimeStart != null and procCreateTimeStart != ''">
				AND proc.PROC_CREATETIME &gt;= #{procCreateTimeStart}
			</if>
			<!-- 查询条件：流程创建时间-结束 -->
			<if test="procCreateTimeEnd != null and procCreateTimeEnd != ''">
				AND proc.PROC_CREATETIME &lt;= #{procCreateTimeEnd}
			</if>
			<!-- 查询条件：任务到达时间-开始 -->
			<if test="procCommitTimeStart != null and procCommitTimeStart != ''">
				AND task.PROC_TASK_COMMITTIME &gt;= #{procCommitTimeStart}
			</if>
			<!-- 查询条件：r任务到达时间-结束 -->
			<if test="procCommitTimeEnd != null and procCommitTimeEnd != ''">
				AND task.PROC_TASK_COMMITTIME &lt;= #{procCommitTimeEnd}
			</if>
			<!-- 查询条件：业务ID -->
			<if test="procBizid != null and procBizid != ''">
				AND proc.proc_bizid LIKE CONCAT('%', #{procBizid},'%')
			</if>
			<!-- 查询条件：流程名称 -->
			<if test="procName != null and procName != ''">
				AND proc.PROC_NAME LIKE CONCAT('%', #{procName},'%')
			</if>
			<!-- 查询条件：流程摘要 -->
			<if test="procMemo != null and procMemo != ''">
				AND proc.PROC_MEMO LIKE CONCAT('%', #{procMemo},'%')
			</if>
		ORDER BY proc.PROC_CREATETIME ASC, task.PROC_TASK_COMMITTIME ASC
	</select>
	
	<!-- 流程委托查询 -->
	<select id="selectProcessDelegate" resultType="com.iqb.etep.workflow.monitor.bean.IqbWfMyProcBackBean">
		SELECT
			delegate.PROC_INST_ID procInstId,
			proc.PROC_NAME procName,
			proc.PROC_BIZID procBizId,
			proc.PROC_BIZTYPE procBiztype,
			proc.PROC_MEMO procMemo,
			proc.PROC_ORGCODE procOrgcode,
			proc.PROC_DISPLAYURL procDisplayurl,
			delegate.PROC_LICENSOR procLicensor,
			delegate.PROC_MANDATARY procMandatary,
			FROM_UNIXTIME(
				delegate.PROC_LICENSE_TIME,
				'%Y/%m/%d %H:%i:%s'
			) procLicenseTime,
			FROM_UNIXTIME(
				proc.PROC_CREATETIME,
				'%Y/%m/%d %H:%i:%s'
			) procCreatetime,
			FROM_UNIXTIME(
				proc.PROC_ENDTIME,
				'%Y/%m/%d %H:%i:%s'
		 ) procEndtime,
			proc.PROC_STATUS procStatus,
			CASE proc.PROC_STATUS
				WHEN '0' THEN '审批中'
			    WHEN '3' THEN '已暂停'
			    WHEN '4' THEN '已终止'
			    WHEN '5' THEN '已删除'
			    WHEN '6' THEN '已完成'
			    WHEN '7' THEN '已取消'
			    ELSE '未知'
		    END AS procStatusName
		FROM
			iqb_wf_proc_delegate delegate
		LEFT JOIN iqb_wf_proc proc ON proc.PROC_INST_ID = delegate.PROC_INST_ID
		WHERE delegate.PROC_LICENSE_ISVALID='1'
			and proc.PROC_ORGCODE LIKE CONCAT(#{procOrgCode},'%')
			<if test="procStatus != null and procStatus != ''">
				AND proc.PROC_STATUS = #{procStatus,jdbcType=VARCHAR}
			</if>
			<!-- 查询条件：流程创建时间-开始 -->
			<if test="procCreateTimeStart != null and procCreateTimeStart != ''">
				AND proc.PROC_CREATETIME &gt;= #{procCreateTimeStart}
			</if>
			<!-- 查询条件：流程创建时间-结束 -->
			<if test="procCreateTimeEnd != null and procCreateTimeEnd != ''">
				AND proc.PROC_CREATETIME &lt;= #{procCreateTimeEnd}
			</if>
			<!-- 查询条件：完成时间-开始 -->
			<if test="procFinishedTimeStart != null and procFinishedTimeStart != ''">
				AND proc.PROC_ENDTIME &gt;= #{procFinishedTimeStart}
			</if>
			<!-- 查询条件：完成时间-结束 -->
			<if test="procFinishedTimeEnd != null and procFinishedTimeEnd != ''">
				AND proc.PROC_ENDTIME &lt;= #{procFinishedTimeEnd}
			</if>
			<!-- 查询条件：业务ID -->
			<if test="procBizid != null and procBizid != ''">
				AND proc.proc_bizid LIKE CONCAT('%', #{procBizid},'%')
			</if>
			<!-- 查询条件：流程名称 -->
			<if test="procName != null and procName != ''">
				AND proc.PROC_NAME LIKE CONCAT('%', #{procName},'%')
			</if>
			<!-- 查询条件：流程摘要 -->
			<if test="procMemo != null and procMemo != ''">
				AND proc.PROC_MEMO LIKE CONCAT('%', #{procMemo},'%')
			</if>
		ORDER BY proc.PROC_CREATETIME DESC, delegate.PROC_LICENSE_TIME ASC
	</select>
	
	<!-- 流程委托查询 -->
	<select id="selectMyProcessDelegate" resultType="com.iqb.etep.workflow.monitor.bean.IqbWfMyProcBackBean">
		SELECT
			delegate.PROC_INST_ID procInstId,
			proc.PROC_NAME procName,
			proc.PROC_BIZID procBizId,
			proc.PROC_BIZTYPE procBiztype,
			proc.PROC_MEMO procMemo,
			proc.PROC_ORGCODE procOrgcode,
			proc.PROC_DISPLAYURL procDisplayurl,
			delegate.PROC_LICENSOR procLicensor,
			delegate.PROC_MANDATARY procMandatary,
			FROM_UNIXTIME(
				delegate.PROC_LICENSE_TIME,
				'%Y/%m/%d %H:%i:%s'
			) procLicenseTime,
			FROM_UNIXTIME(
				proc.PROC_CREATETIME,
				'%Y/%m/%d %H:%i:%s'
			) procCreatetime,
			FROM_UNIXTIME(
				proc.PROC_ENDTIME,
				'%Y/%m/%d %H:%i:%s'
			) procEndtime,
			proc.PROC_STATUS procStatus,
			CASE proc.PROC_STATUS
		WHEN '0' THEN
			'审批中'
		WHEN '3' THEN
			'已暂停'
		ELSE
			'未知'
		END AS procStatusName
		FROM
			iqb_wf_proc_delegate delegate
		LEFT JOIN iqb_wf_proc proc ON proc.PROC_INST_ID = delegate.PROC_INST_ID
		WHERE
			delegate.PROC_LICENSE_ISVALID = '1'
		AND	delegate.PROC_LICENSOR = #{procTaskUser,jdbcType=VARCHAR}
		AND proc.PROC_STATUS in ('0', '3')
		ORDER BY
			proc.PROC_CREATETIME DESC,
			delegate.PROC_LICENSE_TIME ASC
	</select>
	
	<!-- 流程实例汇总查询 -->
	<select id="selectProcessSummary" parameterType="java.util.Map"
		resultType="com.iqb.etep.workflow.monitor.bean.IqbWfMyProcBackBean">
		SELECT
		proc.proc_inst_id procInstId,
		proc.proc_bizid procBizId,
		proc.PROC_BIZTYPE procBiztype,
		proc.PROC_ORGCODE procOrgcode,
		proc.proc_name procName,
		FROM_UNIXTIME(proc.PROC_CREATETIME, '%Y/%m/%d %H:%i:%s') procCreatetime,
		FROM_UNIXTIME(proc.PROC_ENDTIME, '%Y/%m/%d %H:%i:%s') procEndtime,
		proc.PROC_MEMO procMemo,
		proc.PROC_DISPLAYURL procDisplayurl,
		proc.PROC_STATUS procStatus,
		CASE proc.PROC_STATUS
		WHEN '0' THEN '审批中'
		WHEN '3' THEN '已暂停'
		WHEN '4' THEN '已终止'
		WHEN '5' THEN '已删除'
		WHEN '6' THEN '已完成'
		WHEN '7' THEN '已取消'
		ELSE '未知'
		END AS procStatusName,
		task.PROC_CTASKID procTaskid,
		task.PROC_CTASKCODE procTaskcode,
		task.PROC_CTASKNAME procTaskname,
		task.PROC_TASK_COMMITTER procTaskCommitter,
		IF (task.PROC_TASK_STATUS = '1', task.PROC_TASK_GROUP,
		task.PROC_TASK_ASSIGNEE) procTaskAssignee,
		task.PROC_LICENSOR procLicensor,
		FROM_UNIXTIME(task.PROC_TASK_COMMITTIME, '%Y/%m/%d %H:%i:%s') procTaskCommittime,
		FROM_UNIXTIME(task.PROC_TASK_ASSIGNTIME, '%Y/%m/%d %H:%i:%s') procTaskAssigntime,
		task.PROC_TASK_STATUS procTaskstatus
		FROM iqb_wf_proc proc
		LEFT JOIN iqb_wf_proc_task task ON task.proc_inst_id = proc.proc_inst_id
		AND task.PROC_TASK_STATUS IN ('1', '2')
		WHERE
		proc.PROC_ORGCODE LIKE CONCAT('%', #{procOrgCode},'%')
		<if test="procStatus != null and procStatus != ''">
			AND proc.PROC_STATUS = #{procStatus,jdbcType=VARCHAR}
		</if>
		<!-- 查询条件：创建时间-开始 -->
		<if test="procCreateTimeStart != null and procCreateTimeStart != ''">
			AND proc.PROC_CREATETIME &gt;= #{procCreateTimeStart}
		</if>
		<!-- 查询条件：创建时间-结束 -->
		<if test="procCreateTimeEnd != null and procCreateTimeEnd != ''">
			AND proc.PROC_CREATETIME &lt;= #{procCreateTimeEnd}
		</if>
		<!-- 查询条件：完成时间-开始 -->
		<if test="procFinishedTimeStart != null and procFinishedTimeStart != ''">
			AND proc.PROC_ENDTIME &gt;= #{procFinishedTimeStart}
		</if>
		<!-- 查询条件：完成时间-结束 -->
		<if test="procFinishedTimeEnd != null and procFinishedTimeEnd != ''">
			AND proc.PROC_ENDTIME &lt;= #{procFinishedTimeEnd}
		</if>
		<!-- 查询条件：业务ID -->
		<if test="procBizid != null and procBizid != ''">
			AND proc.proc_bizid LIKE CONCAT('%', #{procBizid},'%')
		</if>
		<!-- 查询条件：流程名称 -->
		<if test="procName != null and procName != ''">
			AND proc.PROC_NAME LIKE CONCAT('%', #{procName},'%')
		</if>
		<!-- 查询条件：流程摘要 -->
		<if test="procMemo != null and procMemo != ''">
			AND proc.PROC_MEMO LIKE CONCAT('%', #{procMemo},'%')
		</if>
		ORDER BY proc.PROC_CREATETIME DESC, task.PROC_TASK_COMMITTIME DESC
	</select>
</mapper>